@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

footer {
    bottom: 0;
    left: 0;
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.logos {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);  
    display: inline-block;
    margin: 75px 5px 0px 0px;
}

.nome {
    color: white;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 1.2rem;
    letter-spacing: 1.1px;
}

.logos i{
    color: white;
}

.logos:hover{
    transform: translateY(-3px);
    color: rgb(255, 255, 255);
}
